{% extends 'base.html.twig' %}

{% block title %}Hello AlbumController!{% endblock %}

{% block body %}
  <div class="mb-3">
    <a class="btn btn-primary" href="{{ path('new_album') }}">
      <i class="fa-solid fa-plus"></i>
      Ajouter
    </a>
  </div>

  {% if albums|length == 0 %}
    <div class="alert alert-warning" role="alert">
      Il n'y a pas encore d'album.
    </div>
  {% else %}
    <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-col-lg-5">
      {% for album in albums %}
        <div class="col">
          <div class="card">
            <img src="{{ album.illustrationURL }}" alt="{{ album.title }} cover" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ album.title }}</h5>
              <p class="card-text">
                Album sorti le {{ album.releaseDate|date("d/m/Y") }}
              </p>
              <a href="{{ path('show_album', {id: album.id}) }}" class="stretched-link text-decoration-none">
                <i class="fa-solid fa-eye"></i>
                Voir plus
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
