{% extends "base.html.twig" %}

{% block title %}Détail de l'album {{ album.title }}{% endblock title %}

{% block body %}
  <div class="row">
    <div class="col-sm-3">
      <img src="{{ album.illustrationURL }}" alt="{{ album.title }} cover" class="img-fluid rounded shadow mb-2">
      <p class="text-secondary">Album sorti le {{ album.releaseDate|date("d/m/Y") }}.</p>
    </div>
    <div class="col-sm-9">
      <h2 class="fw-bold row align-items-center">
        {# Le titre de l'album #}
        <div class="col">
          {{ album.title }}
        </div>

        {# Le menu pour éditer l'album #}
        <div class="col-auto">
          <div class="dropdown">
            <a href="#" class="text-danger rounded-pill" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis fa-fw"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{ path('edit_album', {id: album.id}) }}">
                  <i class="fa-solid fa-pen-to-square fa-fw"></i>
                  Éditer l'album
                </a>
              </li>
            </ul>
          </div>
        </div>
      </h2>

      <div class="mb-2">
        <button class="btn btn-danger mb-1">
          <i class="fa-solid fa-play"></i>
          Lecture
        </button>
        <button class="btn btn-danger mb-1">
          <i class="fa-solid fa-shuffle"></i>
          Ordre aléatoire
        </button>
        <a class="btn btn-secondary mb-1" href="{{ path('add_music', {id: album.id}) }}">
          <i class="fa-solid fa-plus"></i>
          Ajouter un morceau
        </a>
      </div>

      {% if album.musics|length != 0 %}
        <ul class="list-unstyled music-list container-fluid">
          {% for music in album.musics %}
            <li class="row music-item py-1 rounded position-relative" style="min-width: 0;">
              {# L'index de la musique dans l'album #}
              <div class="col-auto text-end px-0" style="width: 2rem;">{{ loop.index }}</div>

              {# Le titre de la musique #}
              <div class="col text-truncate ms-2">{{ music.title }}</div>

              {# La durée lisible par un humain #}
              <div class="col-auto">{{ music.humanReadableDuration }}</div>

              {# Le menu pour éditer la musique #}
              <div class="col-auto">
                <div class="dropdown">
                  <a href="#" class="text-danger rounded-pill" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis fa-fw" data-fa-transform="grow-5"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{{ path('edit_music', {id: music.id}) }}">
                        <i class="fa-solid fa-pen-to-square fa-fw"></i>
                        Éditer le morceau
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="text-secondary">Il n'y a aucune musique.</p>
      {% endif %}
    </div>
  </div>
{% endblock body %}